{% extends 'base.html' %}
{% from '_form_helpers.html' import render_field %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="auth-form">
        <h2>Change Your Password</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ render_field(form.current_password, placeholder='Enter your current password') }}
            {{ render_field(form.new_password, placeholder='Enter your new password (min 6 chars)') }}
            {{ render_field(form.confirm_new_password, placeholder='Confirm your new password') }}
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %} 